<% provide(:title, "ホーム") %>

<div class="row">
  <div class="col-md-12">
    <div class="center jumbotron">
      <h1>お弁当予約システム</h1>
    </div>

    <h2>あなたの予約状況</h2>
    <table class="table">
      <caption>予約一覧</caption>
      <thead>
        <tr>
          <th>予約日</th>
          <th>弁当の種類</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.reservation_date %></td>
            <td><%= reservation.lunch_box.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
