<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "お弁当予約", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to '新規予約', new_reservation_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <% if current_user %>
          <li><%= link_to 'ログアウト', sign_out_path, method: :delete %></li>
         <% else %>
          <li><%= link_to 'ログイン', sign_in_path %></li>
         <% end %>
      </ul>
    </nav>
  </div>
</header>